<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type here" #input autofocus>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef> Alias </th>
      <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
    </ng-container>
  
    <ng-container matColumnDef="documentTitle">
      <th mat-header-cell *matHeaderCellDef> DocumentTitle </th>
      <td mat-cell *matCellDef="let element"> {{element.documentTitle}} </td>
    </ng-container>
  
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef> Severity </th>
      <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
    </ng-container>

    <ng-container matColumnDef="initialReleaseDate">
       <th mat-header-cell *matHeaderCellDef> Initial Release Date </th>
       <td mat-cell *matCellDef="let element"> {{element.initialReleaseDate}} </td>
    </ng-container>

    <ng-container matColumnDef="currentReleaseDate">
       <th mat-header-cell *matHeaderCellDef> Current Release Date </th>
       <td mat-cell *matCellDef="let element"> {{element.currentReleaseDate}} </td>
    </ng-container>

    <ng-container matColumnDef="cvrfUrl">
       <th mat-header-cell *matHeaderCellDef> CvrfUrl </th>
       <td mat-cell *matCellDef="let element"> <a href="{{element.cvrfUrl}}">{{element.cvrfUrl}} </a></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>