

<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Username" formControlName="username" autofocus>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>


        <div class="button">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>

      </form>
  </mat-card-content>
</mat-card>