<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
  <span>Seplag Assesment</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="logout()" *ngIf="this.restApiService.isLoggedIn" type="button">
    Logout
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
